{% extends 'base.html' %}
{% block title %}Create new post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Add blog post</h1>

    <br/>
    <div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        {{  form.media }}
        {{  form.as_p }}
        <button class="btn btn-secondary">Post</button>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("User").value = name;

    </script>
{% else %}

Yo're not logged in

{% endif %}

{% endblock %}